*{
   
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.navbar{
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 250px;
    align-items: center;
    justify-content: center;
    transition: all ease-in-out 0.5s;
    z-index: 9987;
    transition: all 0.5s;
     /* margin: 2px;   */
    padding: 0 10px;
    background: #040b14;
     overflow-y: auto; 
}
.footer{
    margin-left:40px;
    font-size: small;
   margin-top:50%;
   color:white;
}


.para{
    overflow-inline: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-left:40px; */
   /* background-color: grey; */
   font-size: small;
   margin-top:50%;
   color:white;
}

.main{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    font-size: 17px;
    font-family: century;
    color: beige;
}

.headings{
    line-height: 10px;
    margin-left: 40px;
    color:rgb(193, 199, 199);
}

.logo{
    margin-left:38px;
    display: flex;
    gap: 10px;
   
} 

.logo img{
     background-color:antiquewhite ;
     border-radius: 50px;
}

.logo img:hover{
    color: #2196F3;
}
   
.main ul li{
    font-family: century;
    font-size: 1rem;
    /* font-weight: bold; */
    list-style: none;
    padding: 12px;
}

.main ul li a{
    text-decoration: none;
    color: white;
    align-items: center;
    transition: all .5s ease;
}

.main ul li a:hover{
    color: cornflowerblue;
}

.main ul li a:active {
    background-color: #2196F3;
    color:red;
  }
.Img{
    width: 150px;
    height: 150px;
    border-radius:100px;
    margin-left:40px;
    margin-top: 20px;
    border: 3px solid rgb(59, 17, 117);
    justify-items: center;
}


#home{
   width: 100%;
   height: 100vh;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   background-size: cover; 
} 

.name{
    margin-left: 70%;
    /* margin-right: 80px; */
    margin-top: 20%;
    /* right: 80px; */
    color:black;
    font-size: large;   
}

.name::before{
    content:"";
    position:absolute;
    top:0px;
    left: 0px;
    background:url('owner.png') no-repeat center center/cover;
    
    height: 100vh;
    width:100%;
    background-size:contain;
    z-index:-1;
}

#about{
    display: flex;
    flex-direction: column;
    background:url("laptop1.jpg");
    opacity: 0.9;
    width: 100%;
    height: 100vh;
    background-color: burlywood;
}

.about1{
    margin-top: 18%;
    margin-left: 23%;
    font-size: large;
    color: rgb(254, 194, 104);
}

#technical{
   display: flex;
   flex-direction: column;
   margin-left: 20%;
   background-color: rgb(80, 96, 66);
   height: 100vh;
 }

 .technical1{
    margin-left:5%;
 }

 .paragraph{
    color: rgb(255, 255, 255);
 }
 .container {
    /* width: 100%; */
    background-color: rgb(255, 244, 244);
  }
  
  .skills {
    text-align: right;
    /* padding-top: 10px;
    padding-bottom: 10px; */
    color: white;
 }
  
  .html {width: 90%; height: 15px; background-color: #2196F3;}
  .css {width: 80%;  height: 15px; background-color: #2196F3;}
  .js {width: 65%;  height: 15px; background-color:#2196F3;}
  .php {width: 60%; height: 15px;  background-color:#2196F3;}
  .git {width: 60%; height: 15px;  background-color:#2196F3;}


 
.image{
    margin: 5px;
    padding: 5px;
    width: 300px;
    height: 300px;
    border: 1px solid black;
}

#project{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 850px; 
    background-color: darkslategrey;
}

.project1{
    margin-left: 24%;
    color: white;
}

.heading{
    font-size: 30px;
    text-align: center;
    color: black;
}

.list{
    font-size: 22px;
    color: darkorange;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    box-sizing: border-box;
   
}

.gallery img{
    width: 400px;
    height: 250px;
    margin: 5px;
    border: 1px solid black;
 }

 
